html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}
.content {
    width: 970px;
    padding: 0px 15px;
    margin: 0 auto;
 }
/* Navigation Stuff */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid;
    border-bottom-color: #a9a9a9
}
.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: 0.03em;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo {
    height: 70px;
}
/* Introduction Stuff */
.introduction {
    background-image: url("../images/first-background.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction .content h1{
    margin-bottom: 0;
}
.introduction h1, .introduction h2 {
    color: white;
    text-align: center;
    font-weight: 300;
}
button { 
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    display: block;
    background-color: #f15a29;
    color: white;
    font-size: 1rem;
    margin: 0 auto;
}
button:hover{
    cursor: pointer;
    background-color: ;
}
/* Device Stuff */
.cases {
    background-color: #fff;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}
.cases .devices {
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    height: 4em;
    margin: 0 3em;
}
.cases .devices h3{
    font-weight: 400;
    font-size: 1.5em;
}
.cases .content h2 {
    font-size: 2.5em;
    font-weight: 300;
    padding-bottom: 1em;
}
/* Footer Stuff */
.social {
    background-color: #fff;
    text-align: center;
    padding-bottom: 6em;
    border-top: 1px solid;
    border-top-color: #a9a9a9
}
.social h2 {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    padding-left: 2.75em;
}
.social h3 {
    font-size: 1rem;
    font-weight: 300;
    color: #d9d9d9;
    padding-left: 2.75em;
}
.social .icons li{
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    padding: 0 0.25em;
}
.social .icons li:hover {
    cursor: pointer;
    color: #333333;
}
.social .icons .fa-twitter {
    color:#55acee;
}
.social .icons .fa-facebook { 
    color: #4c66a4;
}
.social .icons .fa-instagram {
    color:#3f729b;
}
.social .icons i {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #d9d9d9;
    padding: 10px 4px 0 4px;
}