html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}

div {
    border: 1px solid Chocolate;
  }

/* Navigation Stuff */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo {
	height: 70px;
}
/* Introduction Stuff */
.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction .content {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	color: white;
}

button { 
	background-color: #f15a29;
	color: white;
	text-algin: center;
	border-color: #f15a29;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	border-radius: 4px ;
	padding: 1em 1.75em;
	font-size: 0.85em;
	margin: 0px auto;
	display: block;
}