body {
    background-color: LightGray;
}

div {
    border: 1px solid Chocolate;
  }

/* Navigation Stuff */
.top-navigation {
	background-color: #ffffff;
	display: inline-block;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.logo {
	margin-left: 20px;
	height: 70px;
}